*CSS Practice File for pbachman6 github

body {
background: #fcb8cf; /* Old browsers */
background: -moz-linear-gradient(top, #fcb8cf 0%, #f3a9be 4%, #e490a4 17%, #ea90a3 37%, #f090a5 50%, #f5a3c4 61%, #e56b87 90%, #e56b87 90%, #fdbde2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fcb8cf 0%,#f3a9be 4%,#e490a4 17%,#ea90a3 37%,#f090a5 50%,#f5a3c4 61%,#e56b87 90%,#e56b87 90%,#fdbde2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fcb8cf 0%,#f3a9be 4%,#e490a4 17%,#ea90a3 37%,#f090a5 50%,#f5a3c4 61%,#e56b87 90%,#e56b87 90%,#fdbde2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb8cf', endColorstr='#fdbde2',GradientType=0 ); /* IE6-9 */
}

h1 {
  color:green;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 3px solid green;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 3px solid green;
}
